.pilt-dashboard {
  display: flex;
  flex-flow: column;
  align-items: center;

  & &__filter {
    padding: 0 27px;
    width: 100%;
  }

  & &-wrapper {
    width: 100%;

    &__table {
      width: 100%;
    }
  }

  & &__input {
    border: none;
    width: 40px;
  }

  & &-first__column {
    padding-left: 10px;
  }
}
