<nav class="pilt-navigation">
  <ul class="pilt-navigation__menu">
    <li *ngFor="let route of menuList" class="pilt-navigation__item" piltShowRoutes>
      <a routerLink="{{route.path}}">
          <mat-icon>{{route.icon}}</mat-icon>
          {{route.title}}
      </a>
      <ul class="pilt-navigation__dropdown">
        <li *ngFor="let childRoute of route.childLinks" class="pilt-navigation-dropdown__item">
            <a routerLink="{{childRoute.path}}"  class="pilt-navigation-dropdown__link">
                {{childRoute.title}}
            </a>
        </li>
      </ul>
    </li>
    <li>
      <button mat-raised-button (click)="signOut()" color="primary">
        LogOut
      </button>
    </li>
    <li>
      <a class="pilt-auth__link" routerLink="auth">
        <mat-icon>person</mat-icon>
        LogIn
      </a>
    </li>
  </ul>
</nav >

<router-outlet></router-outlet>
