@import 'src/assets/styles/variables';

.pilt-auth__item {
  margin: 20px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.pilt-auth__logout {
  border: none;
  background: $main-bg-color;
  color: $main-pink-color;
}

.pilt-navigation {
  padding: 30px;

  & &__menu {
    display: flex;
    list-style: none;
  }

  & &__item {
    padding-right: 15px;
  }

  & &__link {
    display: flex;
    align-items: center;
  }

  & &__dropdown {
    background-color: #61de69;
    border-radius: 5px;
    display: none;
    list-style: none;
    position: absolute;
    transform: translateX(-30%);
    z-index: 1;
  }

  & &-dropdown__item {
    padding: 15px;
  }

  & &-dropdown__link {
    color: #fff;
  }
}
