<form
  [formGroup]="registerForm"
  (ngSubmit)="submitRegistration(registerForm.value)"
  class="pilt-register__form" >

  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" type="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' :
    'text'">
    <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility_off' :
      'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput class="pilt-register-age" formControlName="age" placeholder="Age" type="number">
    </mat-form-field>

    <label id="pilt-register-gender">Gender</label>
    <mat-radio-group formControlName="gender" aria-labeledby="pilt-register-gender">
      <mat-radio-button *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-radio-button>
    </mat-radio-group>

    <button matButton>Register</button>
</form>

