<mat-card class="pilt-food-card__wrapper">
  <mat-card-header>
    <mat-card-title>{{ food.title }}</mat-card-title>
    <mat-card-subtitle>{{ food.status }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{food.image}}"  alt="{{food.title}}" class="pilt-food-card__image" />

  <mat-card-content>
    <h3>{{ food.description }}</h3>
  </mat-card-content>

  <mat-card-content>
    <form [formGroup]="" class="pilt-food-card__form">
      <mat-form-field class="pilt-food-card__input">
        <input matInput placeholder="калорій" value="{{ food.calories }}">
      </mat-form-field>

      <span class="pilt-food-input__slash">/</span>

      <mat-form-field class="pilt-food-card__input pilt-food-card__grams">
        <input matInput placeholder="грам" value="{{ food.grams }}">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addFood()" >Додати в раціон</button>
  </mat-card-actions>
</mat-card>
