.pilt-food-card__wrapper {
  margin: 20px;
  padding: 30px;
  width: 250px;
}

.pilt-food-card__form {
  align-items: center;
  display: flex;
}

.pilt-food-card {
  &__input {
    text-align: center;
    width: 55px;
  }
}

.pilt-food-input__slash {
  margin: 0 10px;
}
