<mat-card class="pilt-food-card__wrapper">
  <mat-card-header>
    <mat-card-title>Картопля варена</mat-card-title>
    <mat-card-subtitle>Здорова їжа</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src=""  alt="">

  <mat-card-content>
    <h3>Краще їсти з основним прийомом їжі, наприклад в обідній час</h3>
  </mat-card-content>

  <mat-card-content>
    <form [formGroup]="" class="pilt-food-card__form">
      <mat-form-field>
        <input matInput placeholder="калорій">
      </mat-form-field>

      <span>/</span>

      <mat-form-field>
        <input matInput placeholder="грам">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Додати в раціон</button>
  </mat-card-actions>
</mat-card>
