<form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm.value)" >

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" type="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' :
      'text'">
      <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility_off' :
        'visibility'}}</mat-icon>
      </mat-form-field>

      <button matButton>Login</button>
</form>
