<h3 class="pilt-registration-title">Login</h3>
<form
  [formGroup]="loginForm"
  (ngSubmit)="submitLogin(loginForm.value)"
  class="pilt-login__form">

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" type="email" [ngClass]="{'is-invalid': submitted && fc.email.invalid }">
      <div *ngIf="submitted && fc.email.errors" >
        <div *ngIf="fc.email.errors.required" >Email is required</div>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' :
      'text'">
      <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility_off' :
        'visibility'}}</mat-icon>
      </mat-form-field>

      <button matButton>Login</button>
</form>
<a routerLink="/auth/registration">Registration</a>
