<div class="pilt-dashboard">
  <mat-form-field class="pilt-dashboard__filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Пошук">
  </mat-form-field>

  <div class="pilt-dashboard-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="pilt-dashboard-wrapper__table">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
        <td mat-cell *matCellDef="let food">{{food.title}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Опис</th>
        <td mat-cell *matCellDef="let food">{{food.description }}</td>
      </ng-container>

      <!-- Grams Column -->
      <ng-container matColumnDef="grams">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Грами</th>
        <td mat-cell *matCellDef="let food">
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="food.grams" (input)="food.calories = foodService.calcCalories(food)">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Calories Column -->
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Калорійність</th>
        <td mat-cell *matCellDef="let food">
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="food.calories" (input)="food.grams = foodService.calcGrams(food)">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Add Column -->
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let food">
          <button mat-button (click)="addFood(food)">Додати</button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let food; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
