<div class="pilt-auth__wrapper">
  <a routerLink="home">Home</a>
  <a routerLink="auth">Login</a>
  <div class="pilt-auth-component__wrapper">
    <mat-grid-list [cols]="breakpoint" rowHeight="500px" rowWidth (window:resize)="onResize($event)">
      <mat-grid-tile>
        <div class="pilt-auth-image__wrapper">
          <h2 class="pilt-auth-image__title">Hello user</h2>
          <span class="pilt-auth-image__description">The auth will help U feel yourself comfortable on that site</span>
          <!-- TODO:add social media to the site -->
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="pilt-right-side__wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
