

<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="pilt-auth-image__wrapper">
      <h2 class="pilt-auth-image__title">Hello user</h2>
      <span class="pilt-auth-image__description">The auth will help U feel yourself comfortable on that site</span>
      <!-- TODO:add social media to the site -->
    </div>
    <!-- Login
    <pilt-login></pilt-login> -->
  </mat-grid-tile>
  <mat-grid-tile>
    Registration
    <pilt-registration></pilt-registration>
  </mat-grid-tile>
</mat-grid-list>
