@import'./src/styles';

// Variables
$text-description-color: #94936ec7;
$text-main-title-color: #a69eb1c2;
$text-register-title-color: #937d9e;

.pilt-auth__wrapper {
  background-image: linear-gradient($main-pink-color 0%, $main-bark-blue-color 100%);
  position: absolute;
  width: 100%;

  @media (min-width: $screen-sm) {
    height: 100%;
  }
}

.pilt-auth-component__wrapper {
  box-shadow: 0px 1px 15px 0px;
  margin: 5%;
}

.pilt-auth-image__wrapper {
  align-items: center;
  background: url('https://firebasestorage.googleapis.com/v0/b/play-in-life-together.appspot.com/o/Images%2Fsmall%2Fsport-login.jpg?alt=media&token=fbbd2a0b-9258-4c20-bda0-cdda284651d4') center center no-repeat;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 600px;
  height: 80%;
  width: 80%;
}

.pilt-registration-title {
  @include header-h3;
  color: $text-register-title-color;
}

.pilt-auth-image__title {
  @include header-h2;
  color: $text-main-title-color;
}

.pilt-auth-image__description {
  @include big-paragraph;
  color: $text-description-color;
}
.pilt-right-side__wrapper {
  padding: 20px;
  width: 100%;
}
