@import 'src/assets/styles/variables';

.pilt-register-age {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}

.pilt-register__form {
  display: grid;
}

.pilt-registration__submit {
  background-color: $main-bark-blue-color;
  color: $main-pink-color;
  padding: 10px;
  margin: 20px 0;
}

.pilt-registration-login__wrapper {
  text-align: center;
  margin: 22px;
}
