<!-- <mat-card class="pilt-food-card__wrapper">
  <mat-card-header>
    <mat-card-title>{{ food.title }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="{{food.image}}"  alt="{{food.title}}" class="pilt-food-card__image" />

  <mat-card-content>
    <h3>{{ food.description }}</h3>
  </mat-card-content>

  <mat-card-content>
      <mat-form-field class="pilt-food-card__input">
        <input matInput type="number" placeholder="калорій" [(ngModel)]="food.calories" (input)="food.grams = calcGrams(food.calories)" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <span class="pilt-food-input__slash">/</span>

      <mat-form-field class="pilt-food-card__input pilt-food-card__grams">
        <input matInput type="number" placeholder="грам" [(ngModel)]="food.grams" (input)="food.calories = calcCalories(food.grams)" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addFood(food)" >Додати в раціон</button>
  </mat-card-actions>
</mat-card> -->
<!--
<table>
    <tr  >
      <th>Назва</th>
      <th>Тип</th>
      <th>Грами</th>
      <th>Калопії</th>
    </tr>
    <tr *ngFor="let food of food | async | filter" >
      <td>{{food.title}}</td>
      <td>{{food.description}}</td>
      <td>{{food.grams}}</td>
      <td>{{food.calories}}</td>
    </tr>
  </table> -->

